<div class="container text-dark" style="height:auto; width:auto">
    <div class="row text-center">
        <div class="col">
            <h1 class="display-1 mt-7 fade-in">Hi, I'm Reece!</h1>
            <p class="font-monospace fs-5 mt-3 mx-3 fade-in">Hello there my name is Reece Cristea and this is my About Me page. I am an entry level software 
                engineer/developer looking to get some hands on experience in the field. I graduated from Champlain College in Burlington, Vermont 
                with a major in Computer Science and Innovation and a minor in Mathematics. Some of the more notable classes that I took while I was studying include 
                <em>Intro to Mobile and Web Development</em>, <em>Data Structures and Algorithms</em>, <em>Open Source Software Development</em>, 
                <em>Network Programming</em>, <em>Computer Architecture</em>, <em>Android Development</em>, <em>Advanced Programming</em>, 
                <em>Emerging Programming Languages</em>, <em>Software Refactoring</em>, <em>Database Management and Systems</em>, 
                <em>Linux/Unix Programming</em>, <em>Vector Calculus</em>, and <em>Matrices, Vectors, and 3D Math</em>. I specialize in front end 
                application development, but I welcome all challenges that any project will pose.</p>
        </div>
        <div class="col">
            <%= image_tag('reece.jpg', class: "rounded mt-8 fade-in", alt: "Reece Cristea")%>
        </div>
    </div>
    <div class="row text-center mt-7 mb-0 pb-3 border-top border-start border-end" style="width:auto">
        <div class="display-1 text-center mb-0 border-bottom">
            Contact Me
        </div>
        <div class="col mt-3">
            <div class="display-5">
                Email:
                </div>
            <a class="fs-5 text-dark" href="mailto: rcinlae36@gmail.com">
                rcinlae36@gmail.com
            </a>
        </div>
        <div class="col mt-3">
            <div class="display-5">
                Phone #:
            </div>
            <div class="fs-5">
                +1(805)915-9606
            </div>
        </div>
    </div>
</div>