<div class="about-body mt-5 fade-in">
    <section class="banner my-5">
        <%= image_tag('reece.jpg', class: "rounded-3 shadow-lg banner-img", alt: "Reece Cristea")%>
        <div class="banner-content">
        <h2>Hi, I'm Reece!</h2>
        <p>
        I am an entry level software engineer/developer looking to get some hands-on experience in the field.
        </p>
        <p>
        I specialize in front end application development, but I welcome all challenges that any project will pose.
        </p>
      </div>
    </section>
    <div class="svg-bot">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 100 28"
        preserveAspectRatio="none"
    >
    <defs>
    <path
        id="gentle-wave"
        d="M-160 44c30 0 
        58-18 88-18s
        58 18 88 18 
        58-18 88-18 
        58 18 88 18
        v44h-352z"
    />
    </defs>
    <g class="waves">
        <use
          xlink:href="#gentle-wave"
          x="50"
          y="0"
          fill="#132b1d"
          fill-opacity=".2"
        />
        <use
          xlink:href="#gentle-wave"
          x="50"
          y="3"
          fill="#132b1d"
          fill-opacity=".5"
        />
        <use
          xlink:href="#gentle-wave"
          x="50"
          y="6"
          fill="#132b1d"
          fill-opacity=".7"
        />
    </g>
</svg>
</div>
</div>

    <!--
    <div class="row text-center justify-content-around">
        <div class="col">
            <%= image_tag('reece.jpg', class: "rounded-3 mt-8 fade-in shadow-lg", alt: "Reece Cristea", style: "width:100%;")%>
        </div>
        <div class="col-md-6">
            <h1 class="display-1 mt-7 fade-in">Hi, I'm Reece!</h1>
            <p class="font-monospace fs-5 mt-3 fade-in">I am an entry level software engineer/developer looking to get some hands-on experience in the field. I 
                specialize in front end application development, but I welcome all challenges that any project will pose. I graduated from Champlain College in 
                Burlington, Vermont with a major in Computer Science and Innovation and a minor in Mathematics. Some of the more notable classes that I took during 
                my time there include:
                <div class="row fade-in">
                    <div class="col">
                    </div>
                    <div class="col-6 text-start">
                        <li><em>Intro to Mobile and Web Development</em></li>
                        <li><em>Data Structures and Algorithms</em></li>
                        <li><em>Open Source Software Development</em></li>
                        <li><em>Network Programming</em></li>
                        <li><em>Computer Architecture</em></li>
                        <li><em>Android Development</em></li>
                        <li><em>Advanced Programming</em></li>
                        <li><em>Emerging Programming Languages</em></li>
                        <li><em>Software Refactoring</em></li>
                        <li><em>Database Management and Systems</em></li>
                        <li><em>Linux/Unix Programming</em></li>
                        <li><em>Vector Calculus</em></li>
                        <li><em>Matrices, Vectors, and 3D Math</em></li>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </p>
            <p class="font-monospace fs-5 fade-in">
                While I was at college I played for 3 different varisty esports teams (Overwatch, Valorant, and Rocket League) so I know what being a part of a team feels 
                like and I know how crucial communication is in order to achieve success. Some of my other interests besides computer science are video games, cars, 
                Japanese culture, working out, and music and I have super cute blue pit-pei (Pitbull, Shar Pei) named Osha. My goal for my career is to end up working at 
                Spotify and help develop the front end of their application for mobile and PC because I love listening to music and I think there are some improvements that 
                can be made. Some of the languages/technologies that I am versed in include:
                <div class="fade-in">
                    <ul><em>C++, C#, Python</em></ul>
                    <ul><em>Java, JavaScript, HTML</em></ul>
                    <ul><em>CSS, Bootstrap, Dart</em></ul>
                    <ul><em>Flutter Framework, SQL</em></ul>
                    <ul><em>Ruby on Rails, Go</em></ul>
                    <ul><em>Kotlin, Swift</em></ul>
                </div>
            </p>
        </div>
    </div>
    -->