<div class="container vh-100 custom-green">
    <div class="row text-center">
        <div class="col">
            <h1 class="display-1 mt-10">Hi, I'm Reece!</h1>
            <p class="font-monospace fs-5 mt-3 mx-3">Hello there my name is Reece Cristea and this is my About Me page. I am an entry level software 
                engineer/developer looking to get some hands on experience in the field. I graduated from Champlain College in Burlington, Vermont 
                with a major in Computer Science and Innovation and a minor in Mathematics. Some of the more notable classes that I took while I was studying include 
                <em>Intro to Mobile and Web Development</em>, <em>Data Structures and Algorithms</em>, <em>Open Source Software Development</em>, 
                <em>Network Programming</em>, <em>Computer Architecture</em>, <em>Android Development</em>, <em>Advanced Programming</em>, 
                <em>Emerging Programming Languages</em>, <em>Software Refactoring</em>, <em>Database Management and Systems</em>, 
                <em>Linux/Unix Programming</em>, <em>Vector Calculus</em>, and <em>Matrices, Vectors, and 3D Math</em>. I specialize in front end 
                application development, but I welcome all challenges that any project will pose.</p>
        </div>
        <div class="col">
            <%= image_tag('reece.jpg', class: "rounded mt-10", alt: "Reece Cristea")%>
        </div>
    </div>
</div>