<div class="container custom-green text-center" style="height: auto">
    <p class="display-3 mt-15">Here are some of the projects I have worked on.</h1>
    <div class="row row-cols-2">
        <div class="col">
            <div class="card" style="width: 30rem;">
                <%= image_tag('chess.PNG', class: "card-img-top", alt: "Chess")%>
                <div class="card-body">
                    <h5 class="card-title">Chess</h5>
                    <a class="btn btn-light" data-bs-toggle="collapse" href="#chessDesc" role="button" aria-expanded="false" aria-controls="chessDesc">
                        <div class="dropdown-toggle text-center">
                        </div>
                    </a>
                    <div class="collapse" id="chessDesc">
                        Put Description of Chess here
                    </div>
                </div>
                <a href="https://github.com/reece-cristea/chess" class="btn btn-primary mx-10">Github</a>
            </div>
         </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
            <div class="card border-light mb-3" style="max-width: 30rem;">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-light mb-3" style="max-width: 30rem;">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
         </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            <div class="card border-light mb-3" style="max-width: 30rem;">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <h5 class="card-title">Light card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>