<div class="mt-5 ms-5 text-center" style="height: auto">
    <div class="row w-100 justify-content-around">
        <div class="col">
            <%= link_to image_tag('resume.png'), class: "image-fluid"%>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary mt-5">Download</button>
        </div>
    </div>
</div>