<div class="mt-5 ms-5 text-center" style="height: auto">
    <div class="row w-100 justify-content-around">
        <div class="col fade-in">
            <%= link_to image_tag('resume.png'), class: "image-fluid"%>
        </div>
        <div class="col">
            <%= link_to "Download", download_image_path, class: "btn btn-primary mt-5 fade-in text-light" %>
        </div>
    </div>
</div>