/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .custom-green{
    color:greenyellow;
 }

 .ps-7 {
    margin-left: 7rem;
 }

 .mt-10 {
    margin-top: 10rem;
  }

  .mt-8 {
    margin-top: 8.5rem;
  }

  .mt-7 {
    margin-top: 7rem;
  }

 .mt-15 {
   margin-top: 10rem;
 }
 .mx-10 {
  margin-left: 10rem;
  margin-right: 10rem;
}
.ms-7 {
  margin-left: 7rem;
}

.fade-in{
  animation: fadeIn 2s; 
}

.ss-fade-in{
  animation: ssfadeIn 2s;
}

.ss-fade-out{
  animation: ssfadeOut 2s;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% { opacity: 0;}
  100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
  0% { opacity: 0;}
  100% {opacity: 1;}
}

@keyframes ssfadeIn {
  0% { opacity: 0.3;}
  100% {opacity: 1;}
}

@-moz-keyframes ssfadeIn {
  0% { opacity: 0.3;}
  100% {opacity: 1;}
}

@-webkit-keyframes ssfadeIn {
  0% { opacity: 0.3;}
  100% {opacity: 1;}
}

@-o-keyframes ssfadeIn {
  0% { opacity: 0.3;}
  100% {opacity: 1;}
}

@-ms-keyframes ssfadeIn {
  0% { opacity: 0.3;}
  100% {opacity: 1;}
}

@keyframes ssfadeOut {
  0% { opacity: 1;}
  100% {opacity: 0.3;}
}

@-moz-keyframes ssfadeOut {
  0% { opacity: 1;}
  100% {opacity: 0.3;}
}

@-webkit-keyframes ssfadeOut {
  0% { opacity: 1;}
  100% {opacity: 0.3;}
}

@-o-keyframes ssfadeOut {
  0% { opacity: 1;}
  100% {opacity: 0.3;}
}

@-ms-keyframes ssfadeOut {
  0% { opacity: 1;}
  100% {opacity: 0.3;}
}

/* Caption text */
.ss-text {
  padding: 8px 12px;
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
}

.invis {
  display: none;
  width: 0%;
  height: 0%;
}

.sImg {
  width: 100%;
  height: auto;
}