<div id="footer" class="bg-dark text-light" style="height:100px;width:auto;">
    <div class="row" style="width:100%">
        <div class="col ms-2 mt-4">
            <a href="https://www.linkedin.com/in/reece-cristea/" target="blank"><%= image_tag('linkedin2.png')%></a>
            <a href="https://github.com/reece-cristea/" target="blank"><%= image_tag('github.png')%></a>
        </div>
        <div class="col text-end me-2">
            <p class="fs-4 mb-0">Contact Me</p>
            <a class="text-light mb-0" href="mailto: rcinlae36@gmail.com">
                rcinlae36@gmail.com
            </a>
            <p class="mb-0">+1(805)915-9606</p>
        </div>
        </div>
    </div>
</div>